name: EC2 직접 배포

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    name: 배포 수행
    runs-on: ubuntu-latest

    steps:
    - name: EC2 접속 및 배포
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          cd /home/${{ secrets.EC2_USER }}/main-project-lookalike
        
          # 1. 모든 파일의 소유권을 현재 유저로 강제 변경 (권한 에러 방지)
          sudo chown -R ${{ secrets.EC2_USER }}:${{ secrets.EC2_USER }} .
          
          # 2. 강제 동기화 및 찌꺼기 파일 삭제
          git fetch origin main
          git reset --hard origin/main
          
          # 3. 도커 재시작
          sudo docker-compose down
          sudo docker-compose up -d --build